.activity-detail{
  width: 620px;
  margin: 0 auto;
}

.activity-title{
  font-size: 25px;
  text-align: center;
}

.acitvity-info , .acitvity-writer{
  text-align: center;
  color: #a0a0a0;
}