.main{
  width: 100%;
  margin-top: 60px;
}
.left{
  width:30%;
  float: left;
  margin-top: 20px;
}

.right{
  width:70%;
  float: right;
}

#title{
    height: 50px;
    width: 100%;
    font-size: 27px;
    font-weight: bold;
    text-indent: 20px;
}

#editor{
  height: 700px;
}

.w-e-text-container{
  height: 700px !important;
}

.cover{
  width:400px;
  height: 297px;
}

.cover-box{
  position: relative;
  cursor: pointer;
}


.cover-box > .am-icon-camera{
  position: absolute;
  left: 50%;
  top:50%;
  opacity: 0.5;
  cursor: pointer;
}


.cover-box > .am-icon-camera:hover{
  opacity: 1;
}