.container{
    width:960px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.setting .row{
    padding-top: 30px;
}

.row{
    margin-left: -15px;
    margin-right: -15px;
}

.setting .aside{
    width: 218.75px;
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 86px 0 0;
    width: 280px;
    overflow: auto;
}

.setting .aside ul{
    list-style: none;
}

ul{
    padding-left: 0;
}

ol,ul{
    margin-top: 0;
    margin-bottom: 10px;
}

ul,menu,dir{
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    
}

li{
    line-height: 20px;
    display: list-item;
    text-align: -webkit-match-parent;
}

.setting .main{
    padding-left: 0;
}

.col-xs-offset-8{
    margin-left: 33.3333%
}

.col-xs-16{
    width:66.66667%
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-13, .col-xs-14, .col-xs-15, .col-xs-16, .col-xs-17, .col-xs-18, .col-xs-19, .col-xs-20, .col-xs-21, .col-xs-22, .col-xs-23, .col-xs-24 {
    float: left;
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16, .col-lg-17, .col-lg-18, .col-lg-19, .col-lg-20, .col-lg-21, .col-lg-22, .col-lg-23, .col-lg-24, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-13, .col-md-14, .col-md-15, .col-md-16, .col-md-17, .col-md-18, .col-md-19, .col-md-20, .col-md-21, .col-md-22, .col-md-23, .col-md-24, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-13, .col-sm-14, .col-sm-15, .col-sm-16, .col-sm-17, .col-sm-18, .col-sm-19, .col-sm-20, .col-sm-21, .col-sm-22, .col-sm-23, .col-sm-24, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-13, .col-xs-14, .col-xs-15, .col-xs-16, .col-xs-17, .col-xs-18, .col-xs-19, .col-xs-20, .col-xs-21, .col-xs-22, .col-xs-23, .col-xs-24 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.setting .main table{
    width:100%;
}

table{
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    border-color: grey;
}

.setting .main .setting-save{
    width:100px;
    margin:30px 0 60px;
    border-radius: 4px;
    border:none;
}

body.reader-black-font, body.reader-black-font .history-mode .view-area, body.reader-black-font .history-mode .view-area pre, body.reader-black-font .main .kalamu-area, body.reader-black-font .main .markdown .text, body.reader-black-font input, body.reader-black-font select, body.reader-black-font textarea {
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}

button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

.btn-success{
    border-radius: 40px;
    color: #fff;
    background-color: #42c02e;
    border-color: #42c02e;
}

.btn{
        display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.setting .main .topline{
    padding-top: 0;
}

.setting .main td{
    padding: 20px 0;
}

.setting .main tr {
    border-bottom: 1px solid #f0f0f0;
}

.setting .main .avatar{
    width: 100px;
    height: 100px;
}

#headicon{
    width:100px;
    height:100px;
}

.avatar{
    width: 32px;
    height: 32px;
    display: block;
    cursor: pointer;
}

.setting .main .responsive-head{
    width: 125px;
}

.setting-head{
    padding-top: 30px;
}

.setting .main .setting-head{
    width: 150px;
}

.setting .main .btn-delete,.setting .main .btn-hollow{
    font-size:14px;
}

.btn-hollow{
    border:1px solid rgba(59,194,29,.7);
    color: #42c02e !important;
}

.btn-delete, .btn-gray, .btn-hollow {
    padding: 4px 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    border-radius: 40px;
    background: none;
}

.setting .main .hide{
    position: absolute;
    display: block!important;
    width: 82px;
    opacity:0;
}

.setting .main .setting-title{
    font-size: 15px;
    color: #969696;
}

.setting .main input[type=text],.setting .main input[type=email]{
    padding: 5px 10px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    background-color: hsla(0,0%,71%,.1);
}

.setting .main form{
    margin: 0;
}

.pull-right{
    float: right!important;
}

table {
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    border-color: grey;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.setting .aside .setting-icon{
        margin-right: 15px;
    width: 32px;
    height: 32px;
    text-align: center;
    color: #fff;
    background-color: #a0a0a0;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}

a{
    padding: 10px 15px;
    font-size: 15px;
    display: block;
}

.setting .aside .setting-icon i{
    margin: 6px 0 0 1px;
    font-size: 18px;
    display: block
}

.iconfont{
    font-family: iconfont!important;
    font-size: inherit;
    font-style: normal;
    font-weight: 400!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.setting .main .setting-verticle{
    vertical-align: bottom;
}

input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}

.setting .main span {
    margin: 0 20px 0 6px;
    font-size: 15px;
    vertical-align: middle;
}

.pull-left{
    float: left!important;
}

.setting .main textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    background-color: hsla(0,0%,71%,.1);
    display: block;
    resize: none;
    outline-style: none;
    overflow: auto;
}

.active a{
    background-color: #f0f0f0;
    border-radius: 4px;
}